body {
    background-color: rgba(0,97,14);
}

button {
    padding: 15px;
    border-radius: 20px;
}

h1 {
    color: white;
}

#content {
    white-space: pre-wrap;
}
.vibe {
    color: white;
}

.pnumber {
    color: white;
}

.hours {
    color: white;
}

.location {
    color: white;
}